;; shadow-cljs configuration
{:dev-http {8021 {:root "target/test"}}
 :source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [my.core]}
                  :app {:entries [my.app]
                        :depends-on #{:main}}}}
  :browser-test {:target :browser-test
                 :test-dir "target/test"
                 :ns-regexp "-spec$"
                 :module-loader true}
  :test {:target :karma
         :output-to "target/ci.js"
         :ns-regexp "-spec$"
         :closure-defines {shadow.loader.TEST true}}}}
